body {
    background-color: #c3c5c4;
    opacity: 80%;
    text-align: center;
    align-items: center;
    }

header {
  background-color: white;
  box-sizing: border-box;
  border: black solid 5px;
  width: 350px;
  margin-left: 38%;
  margin-bottom: 10px;
}

img {
  max-width: 100px;
  height: 80px;
}

#meno {
  position: relative;
  right:70px;
}

#piu {
  position: relative;
  left:70px;
  bottom:88.5px;
}

#uomo {
  margin-left: 10px;
}
